.header {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.menu {
  width: 80px;
  height: 63px;
  background-color: rgb(133, 236, 133);
}

.wrapper {
  width: 94%;
  height: 63px;
  background-color: rgb(133, 236, 133);
  display: flex;
  line-height: 53px;
  justify-content: space-around;
  font-size: 18px;
}

.wrapper div {
  display: flex;
  margin: 3px 10px 0px 10px;
  white-space: nowrap;
}

.picture {
  background-image: url(pictures/menu.svg);
  width: 50px;
  height: 50px;
  background-size: contain;
  margin: 6px auto;
}


.photo,
.balance,
.expenses,
.date,
.log-out {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.photo {
  background-image: url(pictures/user.svg);
}

.balance {
  background-image: url(pictures/wallet.svg);
}

.expenses {
  background-image: url(pictures/cash.svg);
}

.date {
  background-image: url(pictures/calendar.svg);
}

.log-out {
  background-image: url(pictures/log-out.svg);
}

.log-out-wrapper {
  cursor: pointer;
}

.link-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgb(10 10 10 / 41%);
  top: 0;
}

.sideBar {
  width: 400px;
  height: 700px;
  position: relative;
  border: 1px solid black;
  background-color: white;
  top: 106px;
  left: -400px;
  transition: left 0.5s;
  box-shadow: 0px 1px 8px 7px rgba(34, 60, 80, 0.37);
}

.sideBar.open {
  left: 0px;
}

.button {
  border-bottom: 1px solid rgb(133, 236, 133);
  height: 74px;
  width: 304px;
  margin: auto;
  font-size: 20px;
  line-height: 90px;
  cursor: pointer;
  display: flex;
}


.profile, .settings, .history, .statistic, .logOut, .dashboard{
  margin-right: 27px;
}
.material-icons{
  font-size: 39px;
  line-height: inherit;
  color: grey;
}
.close{
  text-align: right;
}
.close .material-icons  {
  color: red;
  margin: 18px 10px;
  cursor: pointer;
}
.container {
  min-height: 750px;
  width: 100%;
  max-width: 1600px;
  margin: 45px auto;
  box-shadow: 0px 0px 18px 7px rgba(34, 60, 80, 0.2);
}
.container.border-hidden {
  box-shadow: none;
}