<div class="container">
    <div class="block">
        <div class="income">
            <p>INCOME</p>
            <div class="circle"></div>
            <p>500$</p>
        </div>
    </div>
    <div class="block">
        <div class="block-title">Savings</div>
        <div class="category">
            <div *ngFor="let saving of savings">
                <p>{{saving.category}}</p>
                <div class="circle" style="background-image:  url('http://localhost:3000/api/images/{{saving.picture}}')"></div>
                <p>500$</p>
            </div>
            <div>
                <div class="circle circle-add"></div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-title">Spends</div>
        <div class="category">
            <div *ngFor="let expens of expenses">
                <p>{{expens.category}}</p>
                <div class="circle" style="background-image:  url('http://localhost:3000/api/images/{{expens.picture}}')"></div>
                <p>500$</p>
            </div>
            <div>
                <div class="circle circle-add"></div>
            </div>
        </div>
    </div>
</div>