<h1 mat-dialog-title>Change password</h1>
<div mat-dialog-content  *ngIf="!createNewPassword">
  <p>Please, write the password</p>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="checkPassword()">Ok</button>
  </div>
</div>
<div mat-dialog-content *ngIf="createNewPassword" class="container-password">
  <mat-form-field appearance="fill">
    <mat-label>Write new password</mat-label>
    <input matInput [formControl]="password" required pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$" >
    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirm new password</mat-label>
    <input matInput [formControl]="confirmPassword" required pattern="{{password.value}}" >
    <mat-error *ngIf="confirmPassword.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="confirmPassword.value" cdkFocusInitial [disabled]="confirmPassword.invalid || password.invalid">Ok</button>
  </div>
</div>

