.mat-dialog-content {
  overflow: inherit;
}

.mat-form-field {
  width: 250px;
  height: 58px;
  margin-bottom: 35px;
}

.mat-dialog-actions {
  width: 252px;
  justify-content: center;
}

.mat-dialog-title {
  text-align: center;
}

.container-password {
  height: 100%;
}

.error {
  position: relative;
  top: -29px;
}
