<div class="details-container">
  <div class="card-container">
    <p class="title">User Details</p>
    <div class="card-content">
      <div class="avatar"></div>
      <div class="user-info">
        <p><b>Name:</b> {{user.name}}</p>
        <p><b>Surname:</b> {{user.surname}}</p>
        <p><b>Email:</b> {{user.email}}</p>
        <p><b>Password:</b> ********</p>
        <p><b>Balance:</b> {{user.balance}} {{user.currency}}</p>
      </div>
    </div>
    <div class="buttons">
      <button mat-button (click)="openDialog()" class="change-password">Change password</button>
      <button mat-button (click)="backClicked()" >Back</button>
    </div>
  </div>
</div>